<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainguyen.sportshopapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.BossManagementActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.EmployeeManagementActivity" />
        <activity android:name=".Activities.UserActivity" />
        <activity android:name=".Activities.EditActivity" />
        <activity android:name=".Activities.AddNewProductActivity" />
        <activity android:name=".Activities.ManagementOrderActivity" />
        <activity android:name=".Activities.EditProductActivity" />
        <activity
            android:name=".Activities.ProductActivity"
            android:label="@string/title_activity_all_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ShowOrderActivity"
            android:label="@string/title_activity_all_staff"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>